@import "tailwindcss";
@import "./styles/myui/variants.css";

html,
body,
#root {
    height: 100%;
}

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer base {
    :root {
        /* Example of defining CSS variables for border radius, can be used in tailwind.config.js */
        --radius-lg: 0.5rem;
        --radius-xl: 0.75rem;
        --radius-2xl: 1rem;
    }
}