@import "tailwindcss";
@import "./styles/myui-theme-classes.css";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8fafc;
    color: #1f2937;
}